<nav>
    <a href="/">Home</a>
    <a href="./harryPotter">Harry Potter</a>
    <a href="./chuckNorris">Chuck Norris</a>
    <a href="./getJoke">Jokes</a>
    <a href="./randomQuote">Quotes</a>
</nav>