<nav>
    <a href="./">Home</a>
    <a href="./jenkins">Jenkins</a>
    <a href="./sonarcloud">Sonarcloud</a>
    <a href="./sonarcloudPR">Sonarcloud PR</a>
    <a href="./sentry">Sentry</a>
    <a href="./serviceStatus">Service Status</a>
</nav>