<nav>
    <a href="/">Home</a>
    {{!-- <a href="./harryPotter">Harry Potter</a> --}}
    {{!-- <a href="./chuckNorris">Chuck Norris</a> --}}
    {{!-- <a href="./getJoke">Jokes</a> --}}
    <a href="./randomQuote">Quotes</a>
    <a href="./sonarcloud">Sonarcloud</a>
    <a href="./jenkins">Jenkins</a>
    <a href="./sentry">Sentry</a>
    <a href="./serviceStatus">Service Status</a>
</nav>