<div class="header">
    <h1 class="harryPotterTitle">Harry potter</h1>
</div>
<div class="mainDataHP">
    <p class="descriptionHP">You have been randomlyn sorted into:</p>
    <h2 class="houseName">{{houseName}}</h2>
</div>