<div class="sentryDiv">

    <h1>Sentry</h1>
    <h2>TIS-Profile issues</h2>
    <p>Change to last 7 days?</p>

    <ul>
        {{#each sentryArray}}
        {{#each this}}

        <li>{{@key}}: {{this}}</li>
        {{/each}}
        <p>-----</p>
        {{/each}}
    </ul>

</div>